:root {
  --heading-font-family: "Sansita", sans-serif;
  --main-font-family: "Signika", sans-serif;
  --accent-colour: #f57e7e;
  --background-colour: #d4f1ff;
  --background-accent: #add5e9;
}

body,
.bg-branding {
  background: var(--background-colour);
}

nav .navbar-brand {
  font-family: var(--heading-font-family);
  font-size: 30px;
  font-weight: 600;
  margin-right: 60px;
}

nav .nav-item {
  font-family: var(--main-font-family);
  font-size: 20px;
  font-weight: 600;
  padding-top: 10px;
  margin: 10px;
}

.active {
  color: var(--accent-colour) !important;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 90px;
  font-weight: 600;
  margin: 10px;
  text-align: center;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 30px;
}

h2,
h3 {
  font-family: var(--main-font-family);
  font-weight: 400;
}

p {
  font-size: 25px;
}

.hero,
.skills {
  text-align: center;
  padding: 20px;
}

.skills {
  margin: 40px;
  background: var(--background-accent);
  border-radius: 8px;
}

.hero-links {
  display: flex;
  justify-content: center;
}

.homepage-skills {
  max-width: 80%;
}

.skill-icons {
  padding: 30px;
}

.btn-branding {
  margin: 20px;
  border-radius: 6px;
  padding: 18px 20px;
  font-size: 20px;
  text-decoration: none;
  font-family: var(--main-font-family);
  font-weight: 500;
  border: 3px solid var(--accent-colour);
  color: var(--accent-colour);
}

.btn-branding:hover {
  background: var(--accent-colour);
  transition: all 100ms ease-in-out;
}

.homepage-portfolio {
  margin: 40px 0px;
}

.inquiries {
  background: var(--background-accent);
  padding: 30px 10px;
  border-radius: 8px;
}

.inquiries p {
  margin: 0px;
}

.headshot {
  max-width: 500px;
}

.contact-links {
  text-align: center;
  margin: 40px;
}

.contact-links p {
  font-family: var(--main-font-family);
  font-size: 25px;
  margin-bottom: 30px;
}

.contact-links a {
  text-decoration: none;
  color: black;
}

footer {
  padding: 10px;
}

@media (max-width: 700px) {
  h1 {
    font-size: 70px;
  }
}

@media (min-width: 1000px) {
  .skills {
    max-width: 900px;
    margin: 40px auto;
  }
}

@media (max-width: 1000px) {
  .inquiries {
    padding: 30px 60px;
  }

  .inquiries h2 {
    font-size: 30px;
  }
}
